* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  all: unset; /* Все стили элемента сбрасываются в ноль. */
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  border: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
}

/* Стили для хедера */

header {
  background-color: #e1ede6;
  padding: 33px 15px 32px 15px;

  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2c2d35;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 60px;
  cursor: pointer;
}

/* Стили для первой секции */

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.1;
  color: #2c2d35;
  margin-bottom: 20px;
}

.green-text {
  color: #598d66;
}

.title-wrapper > p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #86928b;
  margin-bottom: 60px;
}

.title-wrapper > a {
  border: 1px solid #598d66;
  width: 225px;
  padding: 20px 0px;

  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #598d66;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
}

/* Стили для второй секции */

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  color: #2c2d35;
}

.choice-button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #376b44;

  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #f4f6f5;

  cursor: pointer;
}

.color {
  background-color: #d4e8d9;

  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2c2d35;
}

.choice-button-wrapper {
  display: flex;
  gap: 32px;
}

.title-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

article {
  background-color: #e1ede6;
  padding: 20px 20px 30px 20px;
}

.author {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #86928b;
  margin-bottom: 10px;
  display: block;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #2c2d35;
  margin-bottom: 8px;
}

.picture-description {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2c2d35;
  margin-bottom: 30px;
  display: block;
}

.price {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #598d66;
  margin-bottom: 20px;
  display: block;
}

.button-cart {
  border: 1px solid #598d66;
  padding: 21px 105px;

  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #598d66;
  background-color: #e1ede5;

  cursor: pointer;
}
article > img {
  margin-bottom: 20px;
}

.card-wrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  /* flex-wrap: wrap; */
}

/* Стили для третьей секции */

.background-image {
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 100%;
  height: 100%; */
  /* max-width: 1440px;
  max-height: 574px; */
  position: absolute;
  z-index: -1;
}

.new-collection {
  max-width: 540px;
  display: flex;
  flex-direction: column;
}

.title-img-wrapper {
  display: flex;
  gap: 20px;
  margin: 70px 0 20px 0;
}

.second-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  color: #f4f6f5;
}

.description-text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.additionally {
  margin-bottom: 20px;
}

.familiarize-button {
  background-color: #eedb6d;
  padding: 21px 60px;
  max-width: 257px;
  max-height: 65px;
  margin-top: 60px;
  margin-bottom: 68px;

  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2c2d35;

  cursor: pointer;
}

/* Стили для четвертой секции */

.last-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last-img{
  margin: 70px 0;
}

.last-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.last-text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #2c2d35;
  margin: 20px 0;
}
